name: Deploy to Vercel

on:
  push:
    branches:
      - main
    paths:
      - 'dashboard/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: dashboard

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      - name: Set environment
        run: cp .env.dev .env

      - name: Build dashboard
        run: yarn run build

      - name: Deploy to Vercel
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: |
          npx vercel deploy \
            --prod \
            --confirm \
            --token $VERCEL_TOKEN \
            --org $VERCEL_ORG_ID \
            --project $VERCEL_PROJECT_ID
